<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/animal.css'/>
    <script src="/javascripts/comment.js"></script>
    <script type="text/javascript" href="/javascripts/animalDesc.js"></script>
</head>
<style>
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<body>
<% include ./public/header.ejs %>
<table style="margin: auto">
    <tr>
        <th>Name:<%= name%></th>
        <td rowspan="3"><img id="picture" src="<%= picture %>" style="width: 400px; height: 400px"></td>
    </tr>
    <tr>
        <th>Species:<%= breed %></th>
    </tr>
    <tr>
        <th>Location: <%= town %></th>
    </tr>
</table>

</body>
</html>